/* styles.css */

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}

.form-container img {
    width: 150px;
    margin-bottom: 20px;
}

.btn-signin, .btn-join {
    background-color: #f05422;
    color: white;
}

.btn-signin:hover, .btn-join:hover {
    background-color: #e0451a;
}

.custom-checkbox {
    accent-color: #e0451a;
}

.form-control {
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid #ccc;
}

.btn-join {
    background-color: #f05422;
    color: white;
}

.btn-join:hover {
    background-color: #e0451a;
}

a {
    color: #4a6aff;
}

a:hover {
    color: #3b5fe0;
    text-decoration: underline;
}

.memberspan{
    font-weight: 700;
    margin-top: 10px;
    font-size: large;
    position: absolute;
    text-shadow: 
        1px 1px 0 #fff,  
        -1px -1px 0 #fff,  
        1px -1px 0 #fff,  
        -1px 1px 0 #fff;
}

.pdcard{
    min-height: 70vh;
}

.pdprice{
    font-weight: 700;
    font-size: large;
}

.pdtitle{
    font-weight: 700;
    font-size: larger;
}

.pdimg{
    padding: 20px;
}

.pdaddcart{
    width: 94%;
    font-weight: 600;
}

.orderconfirm{
    min-height: 75vh;
}

.cartbdy{
    min-height: 77vh;
}

.custom-btn {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff; 
    background-color: rgb(212, 158, 22);
    padding: 12px 30px;
    border-radius: 8px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out; 
}

.custom-btn:hover {
    background-color: rgb(98, 81, 15);
    color: #fff;
    transform: translateY(-2px); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    text-decoration: none;
}


.custom-btn:active {
    background-color: #a71d2a;
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
}

.tbl th{
    background-color: black;
    color: white;
}

.cartqty input[type="text"]{
    max-width: 50px !important;
}

.cartqty{
    margin: auto;
    justify-content: center;
}

.badge {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    margin-left: 5px;
}

.store-logo {
    width: 100%;
    height: 80px;
    object-fit: contain;
    margin: 10px 0;
}
